<div class="container">
  <div class="upper-data">

    <img src="{{currentHour?.imageSource}}">

    <div class="weather-data">
      <div class="location"></div>
      <div class="temperature">{{currentHour?.temperature}}°C</div>
      <div class="date">
        {{currentHour?.time}}
        {{currentHour?.date}}
      </div>

      <div class="main-data">
        <div class="data-container">
          <img src="../assets/mainicons/wind.png" alt="windspeed">
          <span>{{currentHour?.windspeed}} km/h</span>
        </div>
        <div class="data-container">
          <img src="../assets/mainicons/snowflakes.png" alt="windspeed">
          <span>{{currentHour?.snowfall}}mm</span>
        </div>
        <div class="data-container">
          <img src="../assets/mainicons/droplets.png" alt="windspeed">
          <span>{{currentHour?.rain}}mm</span>
        </div>
      </div>
    </div>
  </div>

  <div class="lower-data">
    <div class="more-info-label" *ngIf="position">
      Your current position: {{position.latitude}}, {{position.longitude}}
    </div>
    <div class="more-info-label" *ngIf="!position">
      Sorry! We can't get your position!
    </div>

    <div class="more-info-container">
      <div class="info-block" *ngFor="let hour of weatherHourly" (click)="selectHour(hour)">
        <div class="info-block-child">
          <div class="info-block-label">
            <img src="{{hour.iconSource}}">
          </div>

          <div class="info-block-temp">
            <span>{{hour.temperature}}°C</span>
          </div>

          <div class="info-block-value">
            {{hour.time}}
          </div>

          <span class="info-block-date">{{hour.date}}</span>
        </div>
      </div>
    </div>
  </div>


  <router-outlet></router-outlet>